@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 75px;
}

.mr-20 {
  margin-right: 20px !important;
}


#inputForm {
  margin: 50px;
  text-align: center;
}

  #inputElement {
    margin-bottom: 20px;
  }

#dropdownMenu {
  margin-left: 15px;
}